In [1]:
# Establcecer la conexion
import mysql.connector

conexion = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "274138355",
    database = "prueba"

)

In [2]:
cursor = conexion.cursor()

In [3]:
cursor.execute("CREATE DATABASE IF NOT EXISTS empleados ")
cursor.execute("USE empleados")
print("Base de Datos creada exitosamente")

Base de Datos creada exitosamente

In [5]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS tabla_empleados (
        id INT AUTO_INCREMENT PRIMARY KEY,
        nombre VARCHAR(100),
        apellido VARCHAR(100),
        edad INT,
        salario DECIMAL(10,2),
        puesto VARCHAR(100)
        
               
    )
""")

In [6]:
nombre = input("Ingrese su nombre: ")
apellido = input("Su apellido")
edad = int(input("edad"))
salario = float(input("ingrese el salario"))
puesto = input("puesto")
query ="INSERT INTO tabla_empleados (nombre, apellido,edad,salario,puesto) VALUES (%s,%s,%s,%s,%s)"
valores = (nombre,apellido,edad,salario,puesto)

In [7]:
cursor.execute(query,valores)
conexion.commit()

In [10]:
cursor.execute("SELECT * FROM tabla_empleados")
for row in cursor.fetchall():
    print(row)

(1, 'Axel', 'Marquez', 20, Decimal('100.00'), 'Gerente')

In [ ]:
N_id=int(input("id empleado"))
N_Puesto=(input("Nuevo Puesto"))
query = "UPDATE tabla_empleados SET puesto = %s WHERE id = %s"
valores = (N_Puesto, N_id)
cursor.execute(query, valores)
conexion.commit()