In [16]:
# Establcecer la conexion
import mysql.connector

conexion = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "274138355",
    database = "prueba"

)

In [17]:
cursor = conexion.cursor()

In [18]:
cursor.execute("CREATE DATABASE IF NOT EXISTS prueba ")
cursor.execute("USE prueba")
print("Base de Datos creada exitosamente")

Base de Datos creada exitosamente

In [19]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS tabla_prueba (
        id INT AUTO_INCREMENT PRIMARY KEY,
        nombre VARCHAR(100),
        apellido VARCHAR(100),
        edad INT,
        salario DECIMAL(10,2)
    )
""")

In [20]:
nombre = input("Ingrese su nombre: ")
apellido = input("Su apellido")
edad = int(input("edad"))
salario = float(input("ingrese el salario"))
query ="INSERT INTO tabla_prueba (nombre, apellido,edad,salario) VALUES (%s,%s,%s,%s)"
valores = (nombre,apellido,edad,salario)

In [21]:
cursor.execute(query,valores)
conexion.commit()

In [22]:
cursor.execute("SELECT * FROM tabla_prueba")
for row in cursor.fetchall():
    print(row)

(1, 'Axel', 'Marquez', 20, Decimal('100.00'))